
<% if Current.user %>
    <h1>All <%= Current.user.name %>'s flashcards</h1> 

    <%= link_to "Home", user_path(Current.user.name) %><br>
    <%= link_to "Create Subject", subject_path('new') %><br>
    <ul><% Current.user.flashcards.each do |flashcard| %>
        <li>
            <h2><%= flashcard.question %><br>
            <%= link_to "Answer/View Card", flashcard_path(flashcard) %></h2>
        </li>
    </ul>
    <% end %>
<% else %>
        <h1>Available Flashcards</h1>
        <h3><%= link_to "Home Page", root_path %><br></h3>
        <h3><%= link_to 'Create Account and make your own flashcards and subjects!', user_path('new') %></h3><br>
        
        <% @public_cards.each do |flashcard| %>
    <ul>
        <li>
            <h2><%= flashcard.question %><br>
            <%= link_to "Answer/View Card", flashcard_path(flashcard) %></h2>
            <%= link_to "see all #{flashcard.user.name}'s public flashcards", user_users_flashcards_path(flashcard.user) %>
        </li>
    </ul>
    <% end %>
    
<% end %>