<% if Current.user %>
<h1>Welcome: <%= Current.user.name %></h1><br> 

<%= link_to "Edit Account", edit_user_path(Current.user) %><br>

<%= link_to "See your flashcards", flashcards_path %><br>

<%= link_to "Create Subject", subject_path('new') %><br>

<%= link_to "New flashcard", new_user_flashcard_path(@user) %><br>

<%= button_to "Logout", logout_path, method: "delete" %>
<% end %>