<% if Current.user %>
    <h1>All <%= Current.user.name %>'s flashcards</h1> 

    <%= link_to "Home", user_path(Current.user.name) %><br>
    <%= link_to "Create Subject", subject_path('new') %><br>

    <ul><% Current.user.name.flashcards.each do |flashcard| %>
        <li>
            <h2><%= flashcard.question %><br>
            <%= link_to "Answer/View Card", flashcard_path(flashcard) %></h2>
            <%= link_to subject.flashcard.name, flashcard_subjects_path(@subject.flashcard) %>
        </li>
    </ul>
    <% end %>
<% end %>