<h1>Create New Subject</h1>

<%= form_for @subject do |f| %>

    <% if @subject.errors.any? %>
        <div class="fields with errors">
        <h2>Errors:</h2>
        <ul>
            <% @subject.errors.full_messages.each do |message| %>
                <div><li><%= message %></li></div>
            <% end %>
        </ul>
    <% end %>

    <%= f.label :name %>
    <%= f.text_field :name %><br>

    <%= f.submit %><br>
<% end %>